.second-logo-canvas {
    height: 700px;
    width: 100%;
    position: relative;
}

@media (max-width: 1050px) {
    
    .second-logo-canvas {
        height: 600px;
    }

}

@media (max-width: 800px) {
    
    .second-logo-canvas {
        height: 450px;
    }

}

@media (max-width: 650px) {
    
    .second-logo-canvas {
        height: 350px;
    }

}

@media (max-width: 500px) {
    
    .second-logo-canvas {
        height: 300px;
    }

}