.html-canvas {
    height: 200px;
    margin-left: -10%;
    margin-right: -10%;
}

@media (max-width: 1050px) {
    
    .html-canvas {
        height: 175px;
        margin-left: -10%;
        margin-right: -10%;
    }

}

@media (max-width: 800px) {
    
    .html-canvas {
        height: 150px;
        right: -10%;
    }

}

@media (max-width: 650px) {
    
    .html-canvas {
        height: 125px;
        right: -15%;
    }

}

@media (max-width: 500px) {
    
    .html-canvas {
        height: 100px;
        right: -25%;
    }

}

@media (max-width: 400px) {
    
    .html-canvas {
        height: 100px;
        right: -35%;
    }

}