
.projects--section {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project--title {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 7%;
    position: relative;
    z-index: 7;
}

.project--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.asset2-container {
    position: absolute;
    z-index: 0;
    top: 20%;
    height: 800px;
    width: 450px;
    overflow: hidden;
}

.asset2 {
    position: absolute;
    left: -400px;
    height: 100%;
    animation: rightRotation 30s infinite linear;
}



@media (max-width: 1300px) {

    .project--title {
        width: 45%;
    }
    .asset2-container {
        height: 600px;
        width: 350px;
    }
    .asset2 {
        left: -300px;
    }

}


@media (max-width: 800px) {

    .asset2-container {
        height: 400px;
        width: 250px;
    }
    
.asset2 {
    position: absolute;
    left: -250px;
    height: 100%;
    animation: rightRotation 30s infinite linear;
}

}

@media (max-width: 500px) {

    .asset2-container {
        height: 300px;
        width: 175px;
    }
    
    .asset2 {
        margin-left: 50px;
    }

}