
.navigation-section {
    position: fixed;
    display: flex;
    left: 2%;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 9;
    justify-content: space-between;
}

.navigation-elements {
    position: relative;
    text-align: center;
    align-items: center;
}


.navigation--separation-bar {
    height: 100px;
    width: 8px;
}

.navigation--logo {
    width: 100px;
    cursor: pointer;
}

.navigation--logo:active {
    transform: scale(0.9);
}

.navigation--icon {
    width: 70px;
    cursor: pointer;
}

.navigation--icon:active {
    transform: scale(0.9);
}

.navigation--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-text {
    color: white;
    text-decoration: none;
}
.navigation-text:link { text-decoration: none; }


.navigation-text:visited { text-decoration: none; }


.navigation-text:hover { text-decoration: none; }


.navigation-text:active { text-decoration: none; }



@media (max-width: 1300px) {
    

    .navigation--logo {
        width: 80px;
    }


    .navigation--icon {
        width: 65px;
    }

    .navigation--separation-bar {
        height: 100px;
        width: 8px;
    }

}


@media (max-width: 800px) {

    .navigation--text {
        display: none;
    }
    
    .navigation---icon-text {
        display: none;
    }

    .navigation--logo {
        width: 60px;
    }


    .navigation--icon {
        width: 45px;
    }

    .navigation-text {
        font-size: 0.9rem;
    }
    
    
    .navigation--separation-bar {
        height: 170px;
    }

}

@media (max-width: 500px) {

    
    .navigation--logo {
        width: 55px;
    }

    .navigation-text {
        font-size: 0.7rem;
    }
}